# Jádro a klientské proměnné
NODE_ENV=development
VITE_APP_URL=http://localhost:3000

# Docker root credentials for MongoDB
MONGO_ROOT_USER=your_mongo_root_user_here
MONGO_ROOT_PASSWORD=your_mongo_root_password_here

# Mongo Express Basic Auth
ME_USER=admin
ME_PASSWORD=your_express_password_here

# Databáze (Server-only secrets)
MONGODB_URI=mongodb://your_mongo_root_user_here:your_mongo_root_password_here@localhost:27017/training-planner?authSource=admin

# AI SDK (Server-only secrets)
GEMINI_API_KEY=your_gemini_api_key_here
